%h3= "#{t('labels.list')} #{t('activerecord.models.students')}"
%p
  = link_to t('labels.new'), new_student_path, class:"btn btn-primary"

%table.table.table-striped
  %tr
    %th= t('activerecord.attributes.student.name')
    %th= t('activerecord.attributes.student.register_number')
    %th= t('activerecord.attributes.student.status')
    %th
  - @students.each do |student|
    %tr
      %td= student.name
      %td= student.register_number
      %td= student.status_humanize
      %td
        = link_to t('labels.show'), student
        = link_to t('labels.edit'), edit_student_path(student)
        = link_to t('labels.destroy'), student, method: :delete, data: { confirm: "Deseja excluir esse aluno?" }
